.InfoLocation h1 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.InfoLocation h5,
h6 {
  color: thistle;
  font-family: sans-serif;
}

.InfoLocation h6 {
  margin-bottom: 10px;
}

.InfoLocation p {
  color: thistle;
  margin-top: 15px;
  font-size: 13px;
}
