.WeatherApp {
  font-family: sans-serif;
  display: block;
  margin: auto;
  max-width: 500px;
  min-width: 500px;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  padding: 60px 40px 60px 40px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
